@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
    --branco: #FFFFFF;
    --cinza: #C0C0C0;
    --azul: #167BF7;
    --fundo: #00030C;

    --fonte-principal: 'Inter', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--fundo);
    color: var(--branco);
    font-family: var(--fonte-principal);
    font-weight: 400;
}

.principal {
    background-image: url("assets/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    align-items: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__caixa {
    margin: 0 6em;
}

.container__titulo {
    font-size: 28px;
    font-weight: 700;
}

.container__imagem {
    margin: 1em 0 2em 0;
}

.container__botao {
    background-color: var(--azul);
    border-radius: 5px;
    padding: 1em;
    text-decoration: none;
    color: var(--branco);
    display: block;
    font-size: 16px;
    text-align: center;
    margin-bottom: 1em;
}

.botao_secundario {
    background-color: transparent;
    border: 2px solid var(--branco)
}

.container__aviso {
    font-size: 12px;
    color: var(--cinza);
} 

.secundario {
    align-items: center;
    margin: 0 10em;
}

.secundario__imagem {
    width: 80%;
}

.descricao__titulo {
    font-size: 48px;
    font-weight: 700;
    color: var(--branco);
    margin-bottom: 0.1em;
}

.descricao__texto {
    font-size: 16px;
    color: var(--cinza);
}

.secundario__botao {
    display: inline-block;
    margin-top: 1em;
}

.container__descricao {
    padding: 2em;
}

.dispositivos {
    text-align: center;
}

.dispositivos__titulo {
    font-size: 48px;
    color: var(--branco);
}

.dispositivos__lista {
    display: flex;
    list-style: none;
    justify-content: center;
    margin: 5em 0;
}

.lista__item {
    font-size: 32px;
    color: var(--branco);
}

.rodape {
    text-align: center;
    margin: 0 3em;
}

.rodape__lista {
    display: flex;
    list-style-type: none;
    justify-content: center;
    margin-top: 1em;
}

.lista__link a {
    text-decoration: none;
    color: var(--branco);
    margin-left: 1em;
}

.lista__link a:hover {
    color: var(--azul);
    cursor: pointer;
}

.rodape__texto {
    margin: 1em 0;
    color: var(--cinza);
    font-size: 14px;
}